**/.git
**/.next
**/node_modules
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log
**/.DS_Store
**/coverage
**/dist
**/out
**/.vercel
**/.idea
**/.vscode
README.md
Dockerfile
docker-compose.yml
.github
